<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        body {
            background-image: url('{{ url_for('static', filename='img/background.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="page">
        <header>
            <article id="content">
                <section id="main">
                    <img src="{{ url_for('static', filename='imgs_company/main_img.png') }}" alt="main img">
                </section>
                <section>
                    <ul id="banner">
                        <li><a href="#"><img src="{{ url_for('static', filename='imgs_company/banner1.png') }}" alt="banner1"></a></li>
                        <li><a href="#"><img src="{{ url_for('static', filename='imgs_company/banner2.png') }}" alt="banner2"></a></li>
                    </ul>
                </section>
            </article>
        </header>

        <div id="container" class="container">
            <div id="title-container">
                <h1 id="title">레시피 검색</h1>
                <img id="logo" src="{{ url_for('static', filename='imgs_company/logo.png') }}" alt="logo">
            </div>
            <label for="recipe-input">레시피를 검색하세요:</label>
            <input type="text" id="recipe-input" placeholder="레시피 이름 입력">
            <button id="search-button" onclick="translateAndSearch()">검색</button>
            <div id="recipes"></div>
        </div>

        <footer>
            <img src="{{ url_for('static', filename='imgs_company/address.png') }}" alt="address">
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
