body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* 배경 이미지는 HTML에서 설정합니다. */
} /* 사이트 배경 */


/* Other styles remain the same */
#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px; /* 컨테이너 안의 글씨 키움 */
} /* 레시피 파인더 컨테이너 */

#title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} /* 제목과 로고 컨테이너 */

#title {
    text-align: left;
    font-size: 48px;
    font-weight: bold;
} /* 레시피 파인더 글씨 */

#logo {
    width: 100px;
    height: auto;
} /* 로고 이미지 */

#input {
    margin-top: 20px;
    font-size: 20px; /* 검색란 글씨 키움 */
} /* 검색란 */

#recipe-input {
    width: 300px; /* 검색란의 너비 조정 */
    height: 40px; /* 검색란의 높이 조정 */
    font-size: 18px; /* 검색란 텍스트 크기 조정 */
    padding: 5px; /* 검색란 내 패딩 추가 */
} /* 검색란 입력 필드 */

#search-button {
    height: 40px; /* 버튼의 높이 조정 */
    font-size: 18px; /* 버튼 텍스트 크기 조정 */
    padding: 0 15px; /* 버튼 내 패딩 추가 */
} /* 검색 버튼 */

#recipes {
    margin-top: 20px;
    font-size: 18px;/* 레시피 결과 글씨 키움 */
    align-items: center; 
} /* 레시피 결과 */

.recipe {
    border: 1px solid #435db8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #c9f139;
    font-size: 18px; /* 각 레시피 결과 창 글씨 키움 */
} /* 각 레시피 결과 창 */

.recipe img {
    max-width: 100%;
    height: auto;
} /* 레시피 사진 */

.recipe a {
    color: rgb(157, 0, 255);
    text-decoration: none;
    font-size: 18px; /* 레시피 링크 글씨 키움 */
} /* 레시피 링크 */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    list-style-type: none;
    padding: 0;
} /* 배너 컨테이너 */

#banner li {
    margin: 0 10px;
} /* 배너 항목 간의 간격 */

#reference {
    font-size: 9px;
}